body{
    size: 100%;
    background-color: #e8e5da;
}
.cabecera1{
    margin: auto;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color:#FFFFFF;
}
.cabecera-izq{
    flex: 10%;
    height: 30px;
    padding-top: 5px;
    padding-left: 30PX;

 }
.cabecera-centro{
    flex: 30%;
    height: 30px;
    width: 400px;
    text-align: center;
    font-family: Helvetica;
    font-size: 12px;
    color: #000000;
}
.cabecera-der{
    flex: 60%;
    height: 23px;
    width: 300px;
    padding-top: 7px;
    padding-left: 170px;
    text-align: center;   
}
.cabecera2{
    height: 150px;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color:#24ae63;
    
}
.logo-texto{
    flex: 85%;
    padding-left: 30px;
    text-align: left;
}
.carrito{
    flex: 15%;
    margin: auto;
    margin-right: 80px;
    border: 0.2em;
    border-style: solid;
    border-color: #FFFFFF;
    text-align: center;
    color: #000000;
    font-family: Helvetica;
    font-size: small;
}