body{
    background-color: #e8e5da;
}
.cabecera1{
    height: 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color:#000000
}
.cabecera-izq{
    flex: 30%;
    width: 20px;
    text-align: left;
}
.cabecera-centro{
    flex: 40%;
    width: 30px;
    text-align: center;
    color: #FFFFFF;
}
.cabecera-der{
    flex: 30%;
    width: 30px;
    text-align: right;
}
.cabecera2{
    height: 150px;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color:#24ae63;
}
.logo-texto{
    flex: 80%;
    text-align: left;
}
.carrito{
    flex: 20%;
    height: 80px;
    width: 140px;
    border: 0.2em;
    border-style: solid;
    color: #000000;
    text-align: right;
}