.slyder{
    width: 95%;
    margin: auto;
    overflow: hidden;
}

.slyder ul{
    display: flex;
    padding: 0;
    width: 400%;
}

.slyder li{
    width: 100%;
    list-style: none;
}

.slyder img{
    width: 100%;
}